doctype html 
html(lang="en")
    head
        //- Google Tag Manager
        //- script.
        //-     (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        //-     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        //-     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        //-     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        //-     })(window,document,'script','dataLayer','GTM-NZ24JXK');
        //- End Google Tag Manager

        //- Google tag (gtag.js)
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NZ24JXK');



        title Lazer Crazer
        link(rel='preconnect' href="https://www.facebook.com")
        link(rel='preconnect' href="https://connect.facebook.net")
        link(rel='preconnect' href="https://www.googletagmanager.com")
        link(rel='preconnect' href="https://fonts.gstatic.com")
        block style
        style
            include ../static/style.min.css
            include ../static/blog-home.css
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Lazer Crazer - Best gaming area for kids and adults')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- LINK TAGS FOR WEBSITE"S FAVICON
        link(rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon_io/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon_io/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon_io/favicon-16x16.png")
        link(rel="manifest" href="../static/img/favicon_io/site.webmanifest")
        link(rel='stylesheet' media='screen and (max-width: 1000px)' href='../static/responsive.min.css')
    
    block content 
        body 
            //- Google Tag Manager (noscript)
            noscript
                iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NZ24JXK' height='0' width='0' style='display:none;visibility:hidden')
            //- End Google Tag Manager (noscript)
            div#navbar
                div#ul1-wrapper
                    ul#ul1
                        li #[a(href='/') HOME]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#home-navigator.main(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/event') EVENT]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/franchise') FRANCHISE]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                #nav-logo
                    picture
                        source(type="image/webp" srcset="/static/img/logo-background.webp")
                        source(type="image/png" srcset="/static/img/logo-background.png")
                        img#logo-background(src="../static/img/logo-background.png" alt="cant load photo")
                    a(href='/')
                        picture
                            source(type="image/webp" srcset="/static/img/logo.webp")
                            source(type="image/png" srcset="/static/img/logo.png")
                            img#main-logo(src="../static/img/logo.png" alt="cant load photo")
                div#ul2-wrapper
                    ul#ul2 
                        li #[a(href='/rental') RENTING]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/activities') ACTIVITIES]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/calender') BOOKING]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#home-navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                div#nav-planet 
                    picture
                        source(type="image/webp" srcset="/static/img/nav-planet.webp")
                        source(type="image/png" srcset="/static/img/nav-planet.png")
                        img(src="../static/img/nav-planet.png" alt="cant load photo")

            div#mobile-navbar
                div#visible-navbar
                    a#mobile-logo(href='/')
                        picture
                            source(type="image/webp" srcset="/static/img/logo.webp")
                            source(type="image/png" srcset="/static/img/logo.png")
                            img(src="../static/img/logo.png" alt="cant load photo")
                    div#hamburger-icon
                        span.bar
                        span.bar
                        span.bar
                div#nav-items
                    ul 
                        li#home #[a(href='/') HOME]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#navigator.main(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/event') EVENT]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/franchise') FRANCHISE] 
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/rental') RENTING]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/activities') ACTIVITIES]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                        li #[a(href='/calender') BOOKING]
                            picture
                                source(type="image/webp" srcset="/static/img/home-navigator.webp")
                                source(type="image/png" srcset="/static/img/home-navigator.png")
                                img#navigator(src="../static/img/home-navigator.png" alt="cant load photo")
                    div#nav-lightining1
                        picture
                            source(type="image/webp" srcset="/static/img/nav-lightining1.webp")
                            source(type="image/png" srcset="/static/img/nav-lightining1.png")
                            img(src="../static/img/nav-lightining1.png" alt="cant load photo")
                    div#nav-lightining2
                        picture
                            source(type="image/webp" srcset="/static/img/nav-lightining2.webp")
                            source(type="image/png" srcset="/static/img/nav-lightining2.png")
                            img(src="../static/img/nav-lightining2.png" alt="cant load photo")
                    div#nav-bottom-tower
                        picture
                            source(type="image/webp" srcset="/static/img/nav-bottom-tower.webp")
                            source(type="image/png" srcset="/static/img/nav-bottom-tower.png")
                            img(src="../static/img/nav-bottom-tower.png", alt="cant load photo")
            div#planet-container
                div#navM-planet2
                    picture
                        source(type="image/webp" srcset="/static/img/navM-planet.webp")
                        source(type="image/png" srcset="/static/img/navM-planet.png")
                        img(src="../static/img/navM-planet.png" alt="cant load photo")
            div#banner
                div#arrow-container
                    div#arrow1
                        picture
                            source(type="image/webp" srcset="/static/img/arrow1.webp")
                            source(type="image/png" srcset="/static/img/arrow1.png")
                            img(src="../static/img/arrow1.png" alt="cant load photo")
                    div#arrow2
                        picture
                            source(type="image/webp" srcset="/static/img/arrow2.webp")
                            source(type="image/png" srcset="/static/img/arrow2.png")
                            img(src="../static/img/arrow2.png" alt="cant load photo")
                    div#arrow3
                        picture
                            source(type="image/webp" srcset="/static/img/arrow3.webp")
                            source(type="image/png" srcset="/static/img/arrow3.png")
                            img(src="../static/img/arrow3.png" alt="cant load photo")
                div#logo-background2
                    picture
                        source(type="image/webp" srcset="/static/img/logo-background2.webp")
                        source(type="image/png" srcset="/static/img/logo-background2.png")
                        img(src="../static/img/logo-background2.png" alt="cant load photo")
                div#green-stars
                    picture
                        source(type="image/webp" srcset="/static/img/green-stars.webp")
                        source(type="image/png" srcset="/static/img/green-stars.png")
                        img(src="../static/img/green-stars.png" alt="cant load photo")
                div#banner-text
                    div#banner-logo
                        picture
                            source(type="image/webp" srcset="/static/img/banner-logo.webp")
                            source(type="image/png" srcset="/static/img/banner-logo.png")
                            img(src="../static/img/banner-logo.png" alt="cant load photo")
                    div#laser
                        picture
                            source(type="image/webp" srcset="/static/img/laser.webp")
                            source(type="image/png" srcset="/static/img/laser.png")
                            img#laser-img(src="../static/img/laser.png" alt="cant load photo")
                    p IMMERSE YOURSELF IN 
                        span#green ANOTHER WORLD!
                    p#mobile-banner-para NEW DESTINATION OF 
                        span#green FUN!
                div#bookNow-btn
                    a(href='/calender' onmouseover="bookA(this)" onmouseout="book(this)")#bookNow
                        span.bookNow-txt BOOK
                            span#now  NOW
                        div.bookNow-bg
                            picture
                                source(type="image/webp" srcset="/static/img/bookNow-bg.webp")
                                source(type="image/png" srcset="/static/img/bookNow-bg.png")
                                img(src="../static/img/bookNow-bg.png" alt="cant load photo")
                        div.bookNow-bg2
                            picture
                                source(type="image/webp" srcset="/static/img/bookNow-bg2.webp")
                                source(type="image/png" srcset="/static/img/bookNow-bg2.png")
                                img(src="../static/img/bookNow-bg2.png" alt="cant load photo")
                        div.button-design
                            picture
                                source(type="image/webp" srcset="/static/img/button-design.webp")
                                source(type="image/png" srcset="/static/img/button-design.png")
                                img(src="../static/img/button-design.png" alt="cant load photo")
                div#banner-bottom-object
                    picture
                        source(type="image/webp" srcset="/static/img/banner-bottom-object.webp")
                        source(type="image/png" srcset="/static/img/banner-bottom-object.png")
                        img(src="../static/img/banner-bottom-object.png" alt="cant load photo")
                div#banner-bottom-object2
                    picture
                        source(type="image/webp" srcset="/static/img/banner-bottom-object2.webp")
                        source(type="image/png" srcset="/static/img/banner-bottom-object2.png")
                        img(src="../static/img/banner-bottom-object2.png" alt="cant load photo")
                div#banner-bottom-background
                    picture
                        source(type="image/webp" srcset="/static/img/banner-bottom-background.webp")
                        source(type="image/png" srcset="/static/img/banner-bottom-background.png")
                        img(src="../static/img/banner-bottom-background.png" alt="Stone pedestal for gunmans")
                div#banner-left-object
                    picture
                        source(type="image/webp" srcset="/static/img/banner-left-object.webp")
                        source(type="image/png" srcset="/static/img/banner-left-object.png")
                        img(src="../static/img/banner-left-object.png" alt="Volcanic mountain")
                div#banner-right-object
                    picture
                        source(type="image/webp" srcset="/static/img/banner-right-object.webp")
                        source(type="image/png" srcset="/static/img/banner-right-object.png")
                        img(src="../static/img/banner-right-object.png" alt="cant load photo")
                div#gunman
                    picture
                        source(type="image/webp" srcset="/static/img/gunman.webp")
                        source(type="image/png" srcset="/static/img/gunman.png")
                        img(src="../static/img/gunman.png" alt="Two gunmans standing next to each other")
                div#gunman-mobile
                    picture
                        source(type="image/webp" srcset="/static/img/gunman-mobile.webp")
                        source(type="image/png" srcset="/static/img/gunman-mobile.png")
                        img(src="../static/img/gunman-mobile.png" alt="Two gunmans standing next to each other")
                div#glow-gunman
                    picture
                        source(type="image/webp" srcset="/static/img/glow-gunman.webp")
                        source(type="image/png" srcset="/static/img/glow-gunman.png")
                        img(src="../static/img/glow-gunman.png" alt="cant load photo")
                div#parallax-object1
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object1.webp")
                        source(type="image/png" srcset="/static/img/parallax-object1.png")
                        img#move(src="../static/img/parallax-object1.png" alt="cant load photo")
                div#bottom-blend
            div#banner-about-blend

            div#about-us
                h1#desktop-visible ABOUT US
                h2#mobile-visible DELHI’S LARGEST AND 
                    span#green TOP RATED
                    span  LASER TAG ARENA IN HAUZ KHAS VILLAGE
                div#gallery-underline2
                    picture
                        source(type="image/webp" srcset="/static/img/gallery-underline2.webp")
                        source(type="image/png" srcset="/static/img/gallery-underline2.png")
                        img(src="../static/img/gallery-underline2.png" alt="cant load photo")
                div#about-us-content
                    div#weapon-container2
                        video(width="320" height="240" controls playsinline poster='../static/img/thumbnail.webp')
                            source(src="../static/img/lc-video.mp4" type="video/mp4")
                    div#about-us-para
                        h3 NEW DESTINATION OF 
                            span#green FUN!
                        p Strategical, fun & real-life battlefield are the words that portray the soul of Lazer Crazer laser tag. The bright side of the culture of Laser Tag is that it comes with no age boundaries, allowing a larger audience to experience gaming in real life. Fun challenges and methods to win, making the public even more indulgent towards the Idea of having a real-life experience of online gaming.
                    div#weapon-container
                        div#weapon
                            picture
                                source(type="image/webp" srcset="/static/img/laser-and-gun.webp")
                                source(type="image/png" srcset="/static/img/laser-and-gun.png")
                                img#laser-and-gun(src="../static/img/laser-and-gun.png" alt="cant load photo")


            div#about-us2

            div#gallery
                div#parallax-object2
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object2.webp")
                        source(type="image/png" srcset="/static/img/parallax-object2.png")
                        img#move2(src="../static/img/parallax-object2.png" alt="cant load photo")
                h2 DELHI’S LARGEST AND 
                    span#green TOP RATED
                    span  LASER TAG ARENA IN HAUZ KHAS VILLAGE
                div#gallery-underline
                    picture
                        source(type="image/webp" srcset="/static/img/gallery-underline.webp")
                        source(type="image/png" srcset="/static/img/gallery-underline.png")
                        img(src="../static/img/gallery-underline.png" alt="cant load photo")
                div#parallax-object3
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object3.webp")
                        source(type="image/png" srcset="/static/img/parallax-object3.png")
                        img#move3(src="../static/img/parallax-object3.png" alt="cant load photo")
                div#gallery-container
                    div#gallery-content
                        div#gallery-row1
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img1.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img1.png")
                                    img(src="../static/img/gallery-img1.png" alt="People having fun at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img2.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img2.png")
                                    img(src="../static/img/gallery-img2.png" alt="People having fun at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img3.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img3.png")
                                    img(src="../static/img/gallery-img3.png" alt="People having fun at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img4.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img4.png")
                                    img(src="../static/img/gallery-img4.png" alt="People having fun at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img5.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img5.png")
                                    img(src="../static/img/gallery-img5.png" alt="People having fun at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img6.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img6.png")
                                    img(src="../static/img/gallery-img6.png" alt="People having fun at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img7.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img7.png")
                                    img(src="../static/img/gallery-img7.png" alt="People having fun at Lazer Crazer Tag Arena")
                    div#gallery-content2
                        div#gallery-row2
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img13.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img13.png")
                                    img(src="../static/img/gallery-img13.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img14.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img14.png")
                                    img(src="../static/img/gallery-img14.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img15.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img15.png")
                                    img(src="../static/img/gallery-img15.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img8.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img8.png")
                                    img(src="../static/img/gallery-img8.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img9.webp")
                                    img(src="../static/img/gallery-img9.webp" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img10.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img10.png")
                                    img(src="../static/img/gallery-img10.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img11.webp")
                                    img(src="../static/img/gallery-img11.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img12.webp")
                                    img(src="../static/img/gallery-img12.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
                            div.gallery-img
                                picture
                                    source(type="image/webp" srcset="/static/img/gallery-img16.webp")
                                    source(type="image/png" srcset="/static/img/gallery-img16.png")
                                    img(src="../static/img/gallery-img16.png" alt="People enjoying their time at Lazer Crazer Tag Arena")
            div#pricing
                h1 GAME OPTIONS
                p#pricing-para With multiple laser tag game formats, we have something for everyone, regardless of their skill level

                div#parallax-object4
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object4.webp")
                        source(type="image/png" srcset="/static/img/parallax-object4.png")
                        img#move4(src="../static/img/parallax-object4.png" alt="cant load photo")
                div#parallax-object5
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object5.webp")
                        source(type="image/png" srcset="/static/img/parallax-object5.png")
                        img#move5(src="../static/img/parallax-object5.png" alt="cant load photo")
                div#parallax-object6
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object6.webp")
                        source(type="image/png" srcset="/static/img/parallax-object6.png")
                        img#move6(src="../static/img/parallax-object6.png" alt="cant load photo")
                div#parallax-object7
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object7.webp")
                        source(type="image/png" srcset="/static/img/parallax-object7.png")
                        img#move7(src="../static/img/parallax-object7.png" alt="cant load photo")
                div#parallax-object8
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object8.webp")
                        source(type="image/png" srcset="/static/img/parallax-object8.png")
                        img#move8(src="../static/img/parallax-object8.png" alt="cant load photo")
                div#parallax-object9
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object9.webp")
                        source(type="image/png" srcset="/static/img/parallax-object9.png")
                        img#move9(src="../static/img/parallax-object9.png" alt="cant load photo")
                div#pricing-container
                    div.pContainer#pc1(onmouseover="glow(this)" onmouseout="unglow(this)")
                        div.flip-card-inner
                            div.flip-card-front
                                div#container-logo1
                                p.container-heading LASER TAG ON THE GO
                                p.container-duration MON-FRI
                                p.container-cta.ctaColor1 LEARN MORE
                            div.flip-card-back
                                div#container-logo1
                                div.container-back-duration 
                                    p MON-FRI
                                        div Rs.
                                            span.price-color 199
                                            span /P
                                p.container-back-desc ONE 
                                    span.color-change SOLO ROUND 
                                    span FOR ALL THE PLAYERS
                                a(href="/calender").container-cta.ctaColor1 BOOK NOW
                    div.pContainer#pc2(onmouseover="glow(this)" onmouseout="unglow(this)")
                        div.flip-card-inner
                            div.flip-card-front
                                div#container-logo2
                                p.container-heading BASIC MODE
                                p.container-duration 30 MINS
                                p.container-cta.ctaColor2 LEARN MORE
                            div.flip-card-back
                                div#container-logo2
                                div.container-back-duration 
                                    div MON-THU
                                        p Rs.
                                            span.price-color 300
                                            span /P
                                    div FRI-SUN
                                        p Rs.
                                            span.price-color 400
                                            span /P
                                p.container-back-desc 
                                    span.color-change UNLIMITED LIVES 
                                    span 1 SAME FORMAT & MAP

                                a(href="/calender").container-cta.ctaColor2 BOOK NOW
                    div.pContainer#pc3(onmouseover="glow(this)" onmouseout="unglow(this)")
                        div.flip-card-inner
                            div.flip-card-front
                                div#container-logo3
                                p.container-heading MULTI-LEVEL
                                p.container-duration 45 MINS
                                p.container-cta.ctaColor3 LEARN MORE
                            div.flip-card-back
                                div#container-logo3
                                div.container-back-duration 
                                    div MON-THU
                                        p Rs.
                                            span.price-color 500
                                            span /P
                                    div FRI-SUN
                                        p Rs.
                                            span.price-color 600
                                            span /P
                                div.container-back-desc 
                                    span.color-change TEAM BATTLE WITH REFILL 
                                    p#desc-space ZONES & PACKS
                                    p 3 DIFF FORMATS & MAPS
                                a(href="/calender").container-cta.ctaColor3 BOOK NOW
                    div.pContainer#pc4(onmouseover="glow(this)" onmouseout="unglow(this)")
                        div.flip-card-inner
                            div.flip-card-front
                                div#container-logo4
                                p.container-heading SPECIAL EDITION
                                p.container-duration 60 MINS
                                p.container-cta.ctaColor4 LEARN MORE
                            div.flip-card-back
                                div#container-logo4
                                div.container-back-duration 
                                    div MON-THU
                                        p Rs.
                                            span.price-color 800
                                            span /P
                                    div FRI-SUN
                                        p Rs.
                                            span.price-color 1000
                                            span /P
                                div.container-back-desc 
                                    span.color-change SPECIAL EDITION
                                    p#desc-space 1-1.5hrs 
                                    p CONTAINS ALL LEVELS + SOLO ROUNDS
                                a(href="/calender").container-cta.ctaColor4 BOOK NOW
            div#mobile-gallery
                h1 Our Gallery
                p#cta-para Lazer crazer laser tag is a special experience for all who come.
                div#gallery-caraousel
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-imgM9.webp")
                            source(type="image/png" srcset="/static/img/gallery-imgM9.png")
                            img(src="../static/img/gallery-imgM9.png" alt="cant load photo")
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-img4.webp")
                            source(type="image/png" srcset="/static/img/gallery-img4.png")
                            img(src="../static/img/gallery-img4.png" alt="cant load photo")
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-imgM6.webp")
                            source(type="image/png" srcset="/static/img/gallery-imgM6.png")
                            img(src="../static/img/gallery-imgM6.png" alt="cant load photo")
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-imgM7.webp")
                            source(type="image/png" srcset="/static/img/gallery-imgM7.png")
                            img(src="../static/img/gallery-imgM7.png" alt="cant load photo")
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-imgM8.webp")
                            source(type="image/png" srcset="/static/img/gallery-imgM8.png")
                            img(src="../static/img/gallery-imgM8.png" alt="cant load photo")       
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-imgM10.webp")
                            source(type="image/png" srcset="/static/img/gallery-imgM10.png")
                            img(src="../static/img/gallery-imgM10.png" alt="cant load photo")       
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-imgM11.webp")
                            source(type="image/png" srcset="/static/img/gallery-imgM11.png")
                            img(src="../static/img/gallery-imgM11.png" alt="cant load photo")       
                    div.caraousel-container
                        picture
                            source(type="image/webp" srcset="/static/img/gallery-imgM12.webp")
                            source(type="image/png" srcset="/static/img/gallery-imgM12.png")
                            img(src="../static/img/gallery-imgM12.png" alt="cant load photo")       

            div#cta 
                h1 WE OFFER
                p#cta-para If you’re looking for a thrilling, safe and cost effective party idea, you’re at right place!
                div#parallax-object10
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object10.webp")
                        source(type="image/png" srcset="/static/img/parallax-object10.png")
                        img#move10(src="../static/img/parallax-object10.png" alt="cant load photo")
                div#parallax-object11
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object11.webp")
                        source(type="image/png" srcset="/static/img/parallax-object11.png")
                        img#move11(src="../static/img/parallax-object11.png" alt="cant load photo")
                div#parallax-object12
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object12.webp")
                        source(type="image/png" srcset="/static/img/parallax-object12.png")
                        img#move12(src="../static/img/parallax-object12.png" alt="cant load photo")
                div#parallax-object13
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object13.webp")
                        source(type="image/png" srcset="/static/img/parallax-object13.png")
                        img#move13(src="../static/img/parallax-object13.png" alt="cant load photo")
                div#cta-content
                    a.cta-box(onmouseover="incSize(this)" onmouseout="decSize(this)" href='/event')
                        div.cta-box-img
                            picture
                                source(type="image/webp" srcset="/static/img/cta-img1.webp")
                                source(type="image/png" srcset="/static/img/cta-img1.png")
                                img(src="../static/img/cta-img1.png" alt="cant load photo")
                        div.cta-sno
                            picture
                                source(type="image/webp" srcset="/static/img/cta1.webp")
                                source(type="image/png" srcset="/static/img/cta1.png")
                                img(src="../static/img/cta1.png" alt="cant load photo")
                        h3 Private Party
                        p Get your party started at the city's most thrilling Laser tag arena. Just tell us what you need, and we will do our best to fulfill it.
                        p.learnMore learn more &#8594;
                    a.cta-box(onmouseover="incSize(this)" onmouseout="decSize(this)" href='/calender')
                        div.cta-box-img
                            picture
                                source(type="image/webp" srcset="/static/img/cta-img2.webp")
                                source(type="image/png" srcset="/static/img/cta-img2.png")
                                img(src="../static/img/cta-img2.png" alt="cant load photo")
                        div.cta-sno
                            picture
                                source(type="image/webp" srcset="/static/img/cta2.webp")
                                source(type="image/png" srcset="/static/img/cta2.png")
                                img(src="../static/img/cta2.png" alt="cant load photo")
                        h3 Booking
                        p unstoppable fun, & great memories waiting to be made. Are you ready to live life on The Edge?
                        p.learnMore learn more &#8594;
                    a.cta-box(onmouseover="incSize(this)" onmouseout="decSize(this)" href='#contact-form' )
                        div.cta-box-img
                            picture
                                source(type="image/webp" srcset="/static/img/cta-img3.webp")
                                source(type="image/png" srcset="/static/img/cta-img3.png")
                                img(src="../static/img/cta-img3.png" alt="cant load photo")
                        div.cta-sno
                            picture
                                source(type="image/webp" srcset="/static/img/cta3.webp")
                                source(type="image/png" srcset="/static/img/cta3.png")
                                img(src="../static/img/cta3.png" alt="cant load photo")
                        h3 Rental
                        p No need to travel in order to enjoy Laser Tag. We ship the adventure straight to your doorstep.
                        p.learnMore learn more &#8594;
                    a.cta-box2(onmouseover="incSize2(this)" onmouseout="decSize2(this)" href='/event')
                        div.cta-box-img
                            picture
                                source(type="image/webp" srcset="/static/img/cta-img1.webp")
                                source(type="image/png" srcset="/static/img/cta-img1.png")
                                img(src="../static/img/cta-img1.png" alt="cant load photo")
                        div.cta-sno
                            picture
                                source(type="image/webp" srcset="/static/img/cta1.webp")
                                source(type="image/png" srcset="/static/img/cta1.png")
                                img(src="../static/img/cta1.png" alt="cant load photo")
                        h3 Private Party
                        p Get your party started at the city's most thrilling Laser tag arena
                        p.learnMore learn more &#8594;
                    a.cta-box2(onmouseover="incSize2(this)" onmouseout="decSize2(this)" href='/calender')
                        div.cta-box-img
                            picture
                                source(type="image/webp" srcset="/static/img/cta-img2.webp")
                                source(type="image/png" srcset="/static/img/cta-img2.png")
                                img(src="../static/img/cta-img2.png" alt="cant load photo")
                        div.cta-sno
                            picture
                                source(type="image/webp" srcset="/static/img/cta2.webp")
                                source(type="image/png" srcset="/static/img/cta2.png")
                                img(src="../static/img/cta2.png" alt="cant load photo")
                        h3 Booking
                        p unstoppable fun, & great memories waiting to be made.
                        p.learnMore learn more &#8594;
                    a.cta-box2(onmouseover="incSize2(this)" onmouseout="decSize2(this)" href='#contact-form')
                        div.cta-box-img
                            picture
                                source(type="image/webp" srcset="/static/img/cta-img3.webp")
                                source(type="image/png" srcset="/static/img/cta-img3.png")
                                img(src="../static/img/cta-img3.png" alt="cant load photo")
                        div.cta-sno
                            picture
                                source(type="image/webp" srcset="/static/img/cta3.webp")
                                source(type="image/png" srcset="/static/img/cta3.png")
                                img(src="../static/img/cta3.png" alt="cant load photo")
                        h3 Rental
                        p We ship adventure straight to your doorstep
                        p.learnMore learn more &#8594;

            //- div#blogs
            //-     h3 BLOGS
            //-     div.blog1d
            //-         div.blog-left
            //-             img(src="/static/img/home-blogs/home-blog1.png", alt="")
            //-         div.blog-right
            //-             div.blog-con
            //-                 h2 How to 
            //-                     span.play Play 
            //-                     | Laser Tag
            //-                 p Laser tag is a thrilling and engaging game that can be enjoyed by people of all ages. It is a great way to get exercise, have fun with friends, and test your strategic skills.
            div#blogs
                h3 BLOGS
                div.blog1-i
                div.blog2-i
                div.blog3-i
                    

                    
            div#blogs-mob
                h2 Blogs

                div.blog1-h1(onclick="window.location.href='howtoplay'")
                    img(src="/static/img/home-blogs/home-blog1.png", alt="", srcset="")
                    div.blog-home-con
                        h3  How to Play Laser Tag
                        p Laser tag is a thrilling and engaging game that can be enjoyed by people of all ages. It is a great way to get exercise, have fun with friends, and test your strategic skills.
                        h4 Read More
                
                div.blog2-h1(onclick="window.location.href='lazertagparty'")
                    img(src="/static/img/home-blogs/home-blog2.png", alt="", srcset="")
                    div.blog-home-con
                        h3  How to Play Laser Tag
                        p Laser tag is a thrilling and engaging game that can be enjoyed by people of all ages. It is a great way to get exercise, have fun with friends, and test your strategic skills.
                        h4 Read More

                div.blog3-h1(onclick="window.location.href='lazertagrental'")
                    img(src="/static/img/home-blogs/home-blog3.png", alt="", srcset="")
                    div.blog-home-con
                        h3  Laser tag Party
                        p Laser tag is a fun and exciting activity that is perfect for all ages. It is a game where players use laser tag guns to tag each other. Laser tag guns emit a harmless infrared beam that is detected by sensors on the players' vests. When a player is tagged, their vest will vibrate and light up.
    
                        h4 Read More

                

            div#testimonials
                div#parallax-object14
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object14.webp")
                        source(type="image/png" srcset="/static/img/parallax-object14.png")
                        img#move14(src="../static/img/parallax-object14.png" alt="cant load photo")
                div#parallax-object15
                    picture
                        source(type="image/webp" srcset="/static/img/parallax-object15.webp")
                        source(type="image/png" srcset="/static/img/parallax-object15.png")
                        img#move15(src="../static/img/parallax-object15.png" alt="cant load photo")
                h1 TESTIMONIALS
                div#testimonials-content
                    div#testimonials-bg
                        picture
                            source(type="image/webp" srcset="/static/img/testimonials-bg.webp")
                            source(type="image/png" srcset="/static/img/testimonials-bg.png")
                            img(src="../static/img/testimonials-bg.png" alt="cant load photo")
                    div#testimonials-para
                        p OVER 1500+ 5 STAR REVIEWS ON GOOGLE.
                        p HEAR WHAT SOME OF OUR CUSTOMERS ARE SAYING
                    div#clients
                        picture
                            source(type="image/webp" srcset="/static/img/client1.webp")
                            source(type="image/png" srcset="/static/img/client1.png")
                            img(src="../static/img/client1.png" alt="cant load photo")
                        picture
                            source(type="image/webp" srcset="/static/img/client2.webp")
                            source(type="image/png" srcset="/static/img/client2.png")
                            img(src="../static/img/client2.png" alt="cant load photo")
                        picture
                            source(type="image/webp" srcset="/static/img/client3.webp")
                            source(type="image/png" srcset="/static/img/client3.png")
                            img(src="../static/img/client3.png" alt="cant load photo")
                        picture
                            source(type="image/webp" srcset="/static/img/client4.webp")
                            source(type="image/png" srcset="/static/img/client4.png")
                            img(src="../static/img/client4.png" alt="cant load photo")
                        picture
                            source(type="image/webp" srcset="/static/img/client5.webp")
                            source(type="image/png" srcset="/static/img/client5.png")
                            img(src="../static/img/client5.png" alt="cant load photo")
                        picture
                            source(type="image/webp" srcset="/static/img/client6.webp")
                            source(type="image/png" srcset="/static/img/client6.png")
                            img(src="../static/img/client6.png" alt="cant load photo")
                    div#testimonials-box
                        div#testimonials-box-content
                            div.testimonials-scroller
                                p We celebrated our friend's birthday birthday over here. It was an amazing experience and the hosts were extremely cordial and cheerful. Over-all, would recommend for a fun filled time in the midst of bustling Hauz khas village.
                                p.author Ayush Agarwal, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller
                                p Worth every single penny. Extremely fun and adrenergic experience. Must try for youngsters seeking adrenaline pump. The crew is very helpful and polite.
                                p.author Achint Rastogi, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller
                                p Had a very fun experience here I am not a big game fan but here the level was different, the materials provided, the atmosphere, and everything just makes the environment a whole different vibe! You must give it a try❤️❤️
                                p.author Hibu abyang, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller
                                p Amazing experience!! This was our first time here and we had loads of fun!! ♥️😍🔥 Anyone looking out to chill and have an adventurous evening with your gang, this is the perfect place!! 😎 Overall the experience was awesome!! Would surely come here again!!
                                p.author Christina Vasanth, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller
                                p Vikram organised it really well.  It was great fun. I had gone with the whole office team and it was worth the money spent.
                                p.author Pranay Goel, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller
                                p Tooo much fun!! Mission based gaming is too good there. They have multiple formats with so many interesting refil packs like ( Med kit ) and all. If you are planning to do something New and energetic this is  the perfect place for you....
                                p.author Ashish Parida, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller
                                p If you think life can't get crazier, head over to lazer crazer! The staff is really friendly and cooperative. Even if you are playing for the first time or think you are a noobie, they will make sure you understand every rule and are able to enjoy it to core. 
                                p.author Mayank Jain, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller
                                p One of the most exhilarating and wonderful experiences I have ever had! Truly a worth trying experience and the people who hosted us were so cool and accommodating.
                                p.author Aditee Mishra, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                div#testimonials-content2
                    div#stars2
                        picture
                            source(type="image/webp" srcset="/static/img/stars2.webp")
                            source(type="image/png" srcset="/static/img/stars2.png")
                            img(src="../static/img/stars2.png" alt="cant load photo")
                    div#testimonials-bg2
                        div#testimonials-para2
                            p OVER 1000+ 5 STAR REVIEWS ON GOOGLE.
                        picture
                            source(type="image/webp" srcset="/static/img/testimonials-bg2.webp")
                            source(type="image/png" srcset="/static/img/testimonials-bg2.png")
                            img(src="../static/img/testimonials-bg2.png" alt="cant load photo")
                        p#trusted TRUSTED BY
                        div#clients2
                            div.clients-container
                                picture
                                    source(type="image/webp" srcset="/static/img/client1.webp")
                                    source(type="image/png" srcset="/static/img/client1.png")
                                    img(src="../static/img/client1.png" alt="cant load photo")
                                picture
                                    source(type="image/webp" srcset="/static/img/client2.webp")
                                    source(type="image/png" srcset="/static/img/client2.png")
                                    img(src="../static/img/client2.png" alt="cant load photo")
                                picture
                                    source(type="image/webp" srcset="/static/img/client3.webp")
                                    source(type="image/png" srcset="/static/img/client3.png")
                                    img(src="../static/img/client3.png" alt="cant load photo")
                            div.clients-container
                                picture
                                    source(type="image/webp" srcset="/static/img/client4.webp")
                                    source(type="image/png" srcset="/static/img/client4.png")
                                    img(src="../static/img/client4.png" alt="cant load photo")
                                picture
                                    source(type="image/webp" srcset="/static/img/client5.webp")
                                    source(type="image/png" srcset="/static/img/client5.png")
                                    img(src="../static/img/client5.png" alt="cant load photo")
                                picture
                                    source(type="image/webp" srcset="/static/img/client6.webp")
                                    source(type="image/png" srcset="/static/img/client6.png")
                                    img(src="../static/img/client6.png" alt="cant load photo")
                    div#testimonials-box2
                        div#testimonials-box-content2
                            div.testimonials-scroller2
                                p We celebrated our friend's birthday birthday over here. It was an amazing experience and the hosts were extremely cordial and cheerful. Over-all, would recommend for a fun filled time in the midst of bustling Hauz khas village.
                                p.author Ayush Agarwal, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller2
                                p Worth every single penny. Extremely fun and adrenergic experience. Must try for youngsters seeking adrenaline pump. The crew is very helpful and polite.
                                p.author Achint Rastogi, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller2
                                p Had a very fun experience here I am not a big game fan but here the level was different, the materials provided, the atmosphere, and everything just makes the environment a whole different vibe! You must give it a try❤️❤️
                                p.author Hibu abyang, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller2
                                p Amazing experience!! This was our first time here and we had loads of fun!! ♥️😍🔥 Anyone looking out to chill and have an adventurous evening with your gang, this is the perfect place!! 😎 Overall the experience was awesome!! Would surely come here again!!
                                p.author Christina Vasanth, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller2
                                p Vikram organised it really well.  It was great fun. I had gone with the whole office team and it was worth the money spent.
                                p.author Pranay Goel, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller2
                                p Tooo much fun!! Mission based gaming is too good there. They have multiple formats with so many interesting refil packs like ( Med kit ) and all. If you are planning to do something New and energetic this is  the perfect place for you....
                                p.author Ashish Parida, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller2
                                p If you think life can't get crazier, head over to lazer crazer! The staff is really friendly and cooperative. Even if you are playing for the first time or think you are a noobie, they will make sure you understand every rule and are able to enjoy it to core. 
                                p.author Mayank Jain, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                            div.testimonials-scroller2
                                p One of the most exhilarating and wonderful experiences I have ever had! Truly a worth trying experience and the people who hosted us were so cool and accommodating.
                                p.author Aditee Mishra, 
                                div#review-stars
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
                                    picture
                                        source(type="image/webp" srcset="/static/img/star.webp")
                                        source(type="image/png" srcset="/static/img/star.png")
                                        img.stars(src="../static/img/star.png" alt="cant load photo")
            div#clientAndForm
                div#contact-form
                    form#contactForm
                        p GET IN TOUCH WITH US
                        div#row1
                            input(type="text" name="name" id='name' Class="myInput" placeholder="Your Name" required)
                            input(type="tel" value='+91' name="phone" id='phone' Class="myInput" placeholder="Phone" minlength="13" maxlength="13" pattern="['+']{1}[1-9]{3}[0-9]{9}" title='Enter a valid 10-digit number' required)
                            input(type="email" name="email" id='email' Class="myInput" placeholder="Email" required)
                        div#row2
                            textarea.textarea.myInput(name="message" id='message' cols="30" rows="10" placeholder="Send Comments")
                        div#btn-container
                            button(type="submit")#sendRequest SEND REQUEST
            footer#footer            
                div#footer-design
                    picture
                        source(type="image/webp" srcset="/static/img/footer-design.webp")
                        source(type="image/png" srcset="/static/img/footer-design.png")
                        img(src="../static/img/footer-design.png" alt="cant load photo")
                div#footer-design-right
                    picture
                        source(type="image/webp" srcset="/static/img/footer-design-right.webp")
                        source(type="image/png" srcset="/static/img/footer-design-right.png")
                        img(src="../static/img/footer-design-right.png" alt="cant load photo")
                div#footer-design2
                    picture
                        source(type="image/webp" srcset="/static/img/footer-design2.webp")
                        source(type="image/png" srcset="/static/img/footer-design2.png")
                        img(src="../static/img/footer-design2.png" alt="cant load photo")
                div#footer-content
                    div#brand-section
                        div#brand-logo
                            picture
                                source(type="image/webp" srcset="/static/img/footer-logo.webp")
                                source(type="image/png" srcset="/static/img/footer-logo.png")
                                img(src="../static/img/footer-logo.png" alt="cant load photo")
                        p DELHI’S LARGEST AND TOP RATED LASER TAG ARENA IN HAUZ KHAS VILLAGE
                    div#mid-section
                        p Lazer Crazer Laser Tag
                        div#pixy Website by 
                            a(href='https://pixysquare.com/' target='_blank')  www.pixysquare.com 
                                div (click & connect)
                        div#social-icons
                            a(href='https://www.facebook.com/lazercrazer1' target='_blank')
                                img(src="../static/img/fb.png" alt="cant load photo")
                            a(href='https://www.instagram.com/lazercrazer/' target='_blank')
                                img(src="../static/img/insta.png" alt="cant load photo")
                            a(href='https://www.youtube.com/@lazercrazer4544' target='_blank')
                                img(src="../static/img/youtube.png" alt="cant load photo")
                    div#contact-section
                        div#address
                            img(src="../static/img/location.png" alt="cant load photo")
                            a(href='https://goo.gl/maps/3E7CiTjJRayBFssh7' target='_blank') 1A Hauz khas village, New delhi, india, 110016
                        div#mobile
                            img(src="../static/img/phone.png" alt="cant load photo")
                            p +91 8840175266/ 9971385510
                        div#mail
                            img(src="../static/img/envelope.png" alt="cant load photo")
                            p Contact@lazercrazer.in
            div#copyright
                p Copyright © 2022 Lazer Crazer. All rights reserved / 
                    a(href='/privacy') Privacy Policy 
            div#loading
                div#loading-design1
                    picture
                        source(type="image/webp" srcset="/static/img/loading-design1.webp")
                        source(type="image/png" srcset="/static/img/loading-design1.png")
                        img(src="../static/img/loading-design1.png" alt="cant load photo")
                div#loading-planet
                    picture
                        source(type="image/webp" srcset="/static/img/loading-planet.webp")
                        source(type="image/png" srcset="/static/img/loading-planet.png")
                        img(src="../static/img/loading-planet.png" alt="cant load photo")
                div#progressBar
                    div#progress
                    div#progress-perc 0%
                div#loading-design2
                    picture
                        source(type="image/webp" srcset="/static/img/loading-design2.webp")
                        source(type="image/png" srcset="/static/img/loading-design2.png")
                        img(src="../static/img/loading-design2.png" alt="cant load photo")
            a(href='https://wa.me/918840175266?text=Hello')#whatsapp-icon
                svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="wa-messenger-svg-whatsapp wh-svg-icon")
                    path(d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd")
                p#message-us Message Us
            block scripts
                script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")
                script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js' integrity='sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==' crossorigin='anonymous' referrerpolicy='no-referrer')
                script
                    include ../static/script.min.js
                    include ../static/index.min.js